@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    transition: all ease .2s;
    --main-background: #ffffff;
    --main-button: #A762D7;
    --main-font: white;

    --logo-font: 'Pacifico', cursive;
    --main-font: 'Lexend Deca', sans-serif;
    --header-background: rgb(222, 222, 222);
    --transaction-background: white;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: none;
}

a:link {
    color: red;
}

/* a:visited { text-decoration: none; color:red; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black } */